{% extends 'base.html' %}

{% block title %}dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    <p>Drag it to your bookmarks toolbar ->
        <a href="javascript:{% include 'images/bookmarklet_launcher.js' %}" class="button">Bookmark it</a>
    </p>
    <p>Welcome to your dashboard. you can <a href="{% url 'account:edit' %}">edit profile</a></p>

    <h2>What's happening</h2>
    <!--<div id="actions-list">-->
        <!--{% for actions in actions %}-->
            <!--{{ actions.user.username }} {{ actions.verb }} {{ actions.target }}-->
        <!--{% endfor %}-->
    <!--</div>-->
{% endblock %}