{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Bookmark{% endblock %}

{% block content %}
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}" class="thumbnail-container">
                    {% thumbnail user.profile.photo "56x56" crop="100%" as im %}
                        <img src="{{ im.url }}" alt="profile photo">
                    {% endthumbnail %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.username }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}